
@{
    ViewBag.Title = "Add Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/addroles")
<aside class="content-wrapper sidebarLeft">
    <div class="content container-fluid sidebarRight animated fadeInUp">
        <div class="row">

            <div class="col-sm-12">
                <div class="panel panel-white">
                    <div class="panel-body content-title-container">
                        <div class="right">
                            <ol class="breadcrumb breadcrumb-theme breadcrumb-sm breadcrumb-red">
                                <li><a href="~/Home/Dashboard">Dashboard</a></li>
                                <li><a>Role Management</a></li>
                                <li class="active"><a>Add Roles</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-white">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Role</h3>
                    </div>
                    <div class="panel-body">
                        <div id="form-validation" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Enter Role Name" name="roleName" id="roleName" autofocus="" />
                                </div>
                            </div>
                            <div class="col-md-12">                                
                                <div class="col-sm-offset-2 panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title" style="font-family:Arial;color:black;font-size:13px;">Functions</h3>
                                    </div>
                                    <div class="panel-body" id="dynamicfunctions">

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" id="addBtn" class="btn btn-red" style="float:right;" onclick="addRole()"><i class="fa fa-cog"></i> Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</aside>
