
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<aside class="content-wrapper sidebarLeft">    
    <div class="content container-fluid sidebarRight animated fadeInUp">
        <div class="row">           
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-wrench fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Functions Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/Function/AddFunction" style="font-size:12px;color:black">Add Function| </a>
                                <a name="ilinks" href="~/Function/ViewFunction" style="font-size:12px;color:black">View Function|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-check fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Roles Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/Role/AddRole" style="font-size:12px;color:black">Add Role| </a>
                                <a name="ilinks" href="~/Role/ViewRole" style="font-size:12px;color:black">View Role|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bank fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Branch Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/Branch/AddBranch" style="font-size:12px;color:black">Add Branch| </a>
                                <a name="ilinks" href="~/Branch/ViewBranch" style="font-size:12px;color:black">View Branch|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-print fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Printer Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/Printer/AddPrinter" style="font-size:12px;color:black">Add Printer| </a>
                                <a name="ilinks" href="~/Printer/ViewPrinter" style="font-size:12px;color:black">View Printer|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div> 
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>User Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/User/AddUser" style="font-size:12px;color:black">Add User| </a>
                                <a name="ilinks" href="~/User/ViewUser" style="font-size:12px;color:black">View User|</a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>  
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-credit-card fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Smart Card Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/SmartCard/ViewSmartCard" style="font-size:12px;color:black">View Smart Card| </a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div> 
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-credit-card fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>System Configuration</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/System/SystemConfiguration" style="font-size:12px;color:black">Configure System| </a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div> 
            <div class="col-lg-4 col-md-6" name="iparent_link">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-credit-card fa-4x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Password Management</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">
                                <a name="ilinks" href="~/Password/Change Password" style="font-size:12px;color:black">Change Password| </a>
                            </span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div> 
        </div>
    </div>
</aside>



